<div class="container">

  <div id="globe">
    <h1> Where is Uber banned around the world</h1>
    <h6> Use your mouse to spin the globe</h6>
    <div class="legend">
      <h5 id="full">full ban </h5>
      <h5 id="suspend">suspended</h5>
      <h5 id="partial">partial ban</h5>
      <h5 id="operating">banned but operating</h5>
    </div>
  </div>


  <p>Information not 100% accurate due to the constantly changing political landscape regarding uber globally</p>

  <span class="tooltip-text"></span>
</div>