

<div id="toronto">
  <h1 id="tor">How did your councillor vote?</h1>
     <div class="legend">
      <h5 id="yes">Yes </h5>
      <h5 id="no">No</h5>
      <h5 id="none">No Vote</h5>
    </div>
</div>

<span class="tooltip-text"></span>